{% extends 'dashboard/layout.html' %}
{% load compress %}
{% load staticfiles %}

{% block body_class %}fancypages{% endblock %}

{% block less %}
    {{ block.super }}
    <link rel='stylesheet' type='text/less' href="{% static "fancypages/less/fancypages.less" %}" />
{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    <script src="{% static "oscar/js/elastislide/jquery.elastislide.js" %}" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="{% static "fancypages/js/wysihtml5/advanced.js" %}"></script>
    {% comment %}
    For some reason this does not work FIX A
    <script type="text/javascript" src="{% static "fancypages/js/wysihtml5/wysihtml5-0.3.0.min.js" %}"></script>
    {% endcomment %}
    <script src="{% static "fancypages/js/dashboard.js" %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block onbodyload %}
fancypages.dashboard.init();
{% endblock %}
