{% extends 'fancypages/dashboard/layout.html' %}
{% load i18n %}
{% load fp_widget_tags %}

{% block body_class %}fancypages edit-page{% endblock %}

{% block title %}
{% blocktrans with title=page.title %}Customise page "{{ title }}" {% endblocktrans %} | {{ block.super }}
{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    {{ block.super }}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block header %}
{% endblock header %}

{% block dashboard_content %}
<div class="row-fluid page-wrapper">
    <div class="editor">

        {% url fancypages:page-detail page.slug as page_url %}
        {% include "fancypages/dashboard/partials/nav_editor.html" with page_url=page_url %}

        <div class="sidebar-content">
            <div id="page-settings">
                <h3><i class="icon-file"></i> <span>{% trans "Page Settings" %}</span></h3>
                <form method="post" action="." class="form-stacked">
                    {% csrf_token %}
                    {% include "oscar/partials/form_fields.html" %}
                    <div class="form-actions fixed">
                        <div>
                            <a href="">{% trans "Cancel" %}</a>
                            <button type="submit" class="btn btn-primary pull-right">{% trans "Save" %}</button>
                        </div>
                    </div>
                </form>
            </div>
            <div id="widget_input_wrapper"></div>
        </div>
    </div>

    <div class="preview">
        <iframe id="page-preview" frameborder='0' src="{% url fp-dashboard:page-preview page.slug %}"></iframe>
        <div class="loading" data-behaviours="loading"></div>
    </div>

</div>
{% endblock dashboard_content %}
