{% extends 'dashboard/layout.html' %}
{% load i18n %}
{% load fancypages_tags %}

{% block body_class %}fancypages{% endblock %}
{% block title %}
{% blocktrans with title=page.title %}Customise page "{{ title }}" {% endblocktrans %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{% url dashboard:index %}">{% trans "Dashboard" %}</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url fancypages-dashboard:page-list %}">
            {% trans "Pages" %}
        </a>
        <span class="divider">/</span>
    </li>
    <li class="active">
        <a href=".">{% trans "Customise page" %}</a>
    </li>
</ul>
{% endblock %}

{% block header %}
<div class="page-header">
    <h1>
    {% blocktrans with title=page.title %}Customise page "{{ title }}" {% endblocktrans %}
    </h1>
</div>
{% endblock header %}

{% block dashboard_content %}
<div class="row-fluid">
    <div class="span4">

        <div class="tabbable">
            <ul class="nav nav-tabs">
                {% for name in page.page_type.get_container_names %}
                <li {% if forloop.first %}class="active"{% endif %}>
                    <a href="#{{ name }}" data-toggle="tab">{{ name }}</a>
                </li>
                {% endfor %}
            </ul>

             <div class="tab-content">
                {% for name in page.page_type.get_container_names %}
                <div class="tab-pane {% if forloop.first %}active{% endif %}" id="{{ name }}">
                    <form id="{{ name }}_add_widget_form" class="form-inline" method="get" action="/dashboard/fancypages/widget/{{ name }}/">
                        {% include "partials/form_fields_inline.html" with form=select_widget_form %}
                        <button data-behaviours="widget-add" class="btn btn-info" type="submit">{% trans "Add" %}</button>
                    </form>

                    {% update_widgets_form page name as form %}
                    <form id="{{ name }}_update_widget_form" class="form-inline" method="get" action=".">
                        {% include "partials/form_fields_inline.html" with form=form %}
                    </form>

                    <div id="{{ name }}_widget_input_wrapper"></div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>

    <div class="span8">
        <iframe frameborder='0' style="width: 100%; min-height: 1200px;" src="{% url fancypages:page-detail page.code %}"></iframe>
    </div>
</div>
{% endblock dashboard_content %}

{% block onbodyload %}
$('a[data-toggle="tab"]').on('shown', function (e) {
    e.target // activated tab
    e.relatedTarget // previous tab
})

var create_forms = $('form[id$=add_widget_form]');
create_forms.submit(function(ev) {
    ev.preventDefault();

    var selection = $("select", this);
    var widgetUrl = $(this).attr('action')+selection.val()+"/create/";
    var containerName = $(this).attr('id').replace('_add_widget_form', '');
    console.log('submit create', widgetUrl);

    $.ajax(widgetUrl).done(function(data){
        var widgetWrapper = $('div[id='+containerName+'_widget_input_wrapper]');
        widgetWrapper.html(data);
    });
});

var update_forms = $('form[id$=update_widget_form]');
update_forms.each(function(idx, form){

    var selection = $("select", form);
    var containerName = $(form).attr('id').replace('_update_widget_form', '');
    console.log('container name', containerName);

    var widgetUrl = "/dashboard/fancypages/widget/update/"+selection.val()+"/";

    // load initial form
    $.ajax(widgetUrl).done(function(data){
        var widgetWrapper = $('div[id='+containerName+'_widget_input_wrapper]');
        widgetWrapper.html(data);
    });

    selection.change(function(ev) {
        var widgetUrl = "/dashboard/fancypages/widget/update/"+$(this).val()+"/";
        console.log('changed to', widgetUrl);

        // load initial form
        $.ajax(widgetUrl).done(function(data){
            var widgetWrapper = $('div[id='+containerName+'_widget_input_wrapper]');
            widgetWrapper.html(data);
        });
    });
});

$('form[data-behaviours~=widget-create]').live('submit', function(ev){
    ev.preventDefault();
    $.ajax({
        type: "POST",
        url: $(this).attr('action'),
        data: $(this).serialize()
    }).done(function(data) {
        $('iframe').attr('src', $('iframe').attr('src'));
        //FIXME: the for now has to be removed and replaced with the update
        // form. We also have to update the drop down of widgets
    });
});

$('form[data-behaviours~=widget-update]').live('submit', function(ev){
    ev.preventDefault();

    $.ajax({
        type: "POST",
        url: $(this).attr('action'),
        data: $(this).serialize()
    }).done(function(data) {
        $('iframe').attr('src', $('iframe').attr('src'));
    });
});

{% endblock %}
