{% extends 'dashboard/layout.html' %}
{% load i18n %}

{% block body_class %}fancypages{% endblock %}
{% block title %}
{% blocktrans with name=page_type.name %}Create new '{{ name }}' page{% endblocktrans %} | {{ block.super }}
{% endblock %}

{% comment %}
{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{% url dashboard:index %}">{% trans "Dashboard" %}</a>
        <span class="divider">/</span>
    </li>
    <li class="active"><a href=".">{% trans "Stores" %}</a></li>
</ul>
{% endblock %}
{% endcomment %}

{% block header %}
<div class="page-header">
    <h1>
    {% blocktrans with name=page_type.name %}Create new '{{ name }}' page{% endblocktrans %}
    </h1>
</div>
{% endblock header %}

{% block dashboard_content %}
{% endblock dashboard_content %}
