{% extends 'fancypages/dashboard/layout.html' %}
{% load i18n %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{% url dashboard:index %}">{% trans "Dashboard" %}</a>
        <span class="divider">/</span>
    </li>
    <li class="active"><a href=".">{% trans "Page types" %}</a></li>
</ul>
{% endblock %}

{% block header %}
<div class="page-header">
<h1>{% trans "Page Management" %}</h1>
</div>
{% endblock header %}

{% block dashboard_content %}

<div class="well well-info">
    <a href="{% url fancypages-dashboard:page-type-create %}" class="btn btn-primary btn-large">
        {% trans "Create new page type" %}
    </a>
</div>

{% if page_type_list|length %}
<form action="." method="post" class="order_table">
    {% csrf_token %}
    <table class="table table-striped table-bordered">
        <tr>
            {# <th></th> #}
            <th>{% trans "Name" %}</th>
            <th>{% trans "Template name" %}</th>
            <th style="width: 150px;"></th>
        </tr>
        {% for page_type in page_type_list %}
        <tr>
            {# <td><input type="checkbox" name="selected_order" class="selected_order" value="{{ order.id }}"/> #}
            <td>{{ page_type.name }}</td>
            <td>{{ page_type.template.template_name }}</td>
            <td>
                <a class="btn btn-info" href="{% url fancypages-dashboard:page-type-update page_type.id %}">{% trans "Edit" %}</a>
                <a class="btn btn-danger" href="{% url fancypages-dashboard:page-type-delete page_type.id %}">{% trans "Delete" %}</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</form>

{% else %}
    <p>{% trans "No page types found." %}</p>
{% endif %}

{% endblock dashboard_content %}
