{% extends 'fancypages/dashboard/layout.html' %}
{% load i18n %}
{% load fancypages_tags %}

{% block body_class %}fancypages edit-page{% endblock %}

{% block title %}
{% blocktrans with title=page.title %}Customise page "{{ title }}" {% endblocktrans %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block header %}
{% endblock header %}

{% block dashboard_content %}
<div class="row-fluid page-wrapper">
    <div class="editor">
        <div id="page-settings">
            <h3>Page Settings</h3>
            <form method="post" action="." class="form-stacked">
                {% csrf_token %}
                {% include "fancypages/partials/editor_form_fields.html" %}
                <div class="buttons">
                    <a href="" class="btn">{% trans "Cancel" %}</a>
                    <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                </div>
            </form>
        </div>
        <div id="widget_input_wrapper"></div>
    </div>

    <div class="page-title">
        <div class="pull-right form-inline">
            <label for="preview-check" class="ckeckbox">
                <input type="checkbox" checked="checked" id="preview-check"  />
                Page preview
            </label>
            <a href="" class="btn">{% trans "Page Properties" %}</a>
        </div>
        <h1>{% blocktrans with title=page.title %}Customise page "{{ title }}" {% endblocktrans %}</h1>
    </div>

    <div class="preview">
        <iframe id="page-preview" frameborder='0' src="{% url fancypages-dashboard:page-preview page.slug %}"></iframe>
    </div>
</div>
{% endblock dashboard_content %}
