language: python
python:
  - "2.7"
env:
  matrix:
      - DJANGO_VERSION=">=1.4,<1.5"
        OSCAR="django-oscar>=0.5,<0.6"
      - DJANGO_VERSION=">=1.4,<1.5"
        OSCAR="git+https://github.com/tangentlabs/django-oscar#egg=django-oscar-dev"

      - DJANGO_VERSION=">=1.5,<1.6"
        OSCAR="django-oscar>=0.5,<0.6"
      - DJANGO_VERSION=">=1.5,<1.6"
        OSCAR="git+https://github.com/tangentlabs/django-oscar#egg=django-oscar-dev"
install:
  - pip install Django$DJANGO_VERSION $OSCAR
  - pip install . --use-mirrors
  - pip install -r requirements.txt --use-mirrors
script:
  - py.test tests --pyargs fancypages -m 'not fp_only' --pep8 --cov oscar_fancypages
after_success:
  - coveralls
