{% extends "fancypages/base/widget.html" %}
{% load fp_block_tags %}
{% load i18n %}

{% block widget %}
    {% if object.code and object.source == 'youtube' %}
        <div class="widget-video">
            <iframe width="560" height="315" src="http://www.youtube.com/embed/{{ object.video_code }}" frameborder="0" allowfullscreen></iframe>
        </div>
    {% else %}
        <p class="no-asset fp-btn fp-btn-block edit-button"><i class="glyphicon-facetime-video"></i> <span class="visible-editor">{% trans "Click to add a video" %}</span></p>
    {% endif %}
{% endblock %}
