span.edit-button {
    position: absolute;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 2px 10px;
    line-height: 12px;
    display: block;
    background-color: #5BB75B;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: -10px 0 0 -30px;
    opacity: 0;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    cursor: pointer;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    0px 0px 5px rgba(0, 0, 0, 0.25);
    box-shadow:         0px 0px 5px rgba(0, 0, 0, 0.25);
    border: 2px #fff solid;
}

body:hover span.edit-button {
    opacity: 0.5;
}

body:hover span.edit-button:hover {
    opacity: 1.0;
}

.sortable-placeholder {
    background-color: #5BB75B;
    opacity: 0.5;
}

.widget {
    position: relative;
}

.widget:hover {
    background-color: #ddd;
}

.widget-move-delete {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 16px;
    height: 16px;
    padding: 2px !important;
    opacity: 0;
    z-index: 9999;
}

body:hover .widget-move-delete {
    opacity: 0.5;
}

body:hover .widget-move-delete:hover {
    opacity: 1.0;
}

.ui-widget-header {
    padding: 10px;
}

.widget-add-control {
    margin-top: 30px;
}

.widget-add-control select {
    float: left;
    max-width: 80%;
}
