{% extends "layout_2_col.html" %}
{% load fancypages_tags %}
{% load staticfiles %}

{% block title %}
{{ page.title }} | {{ block.super }}
{% endblock %}

{% block column_left %}
{% fancypages-container left-column edit_mode %}
{% endblock %}

{% block header %}
    <h1>{{ page.title }}</h1>
{% endblock %}

{% block content %}
{% fancypages-container main-container %}
{% endblock %}

{% if edit_mode %}
    {% block extrahead %}
        {{ block.super }}
        <link rel="stylesheet" href="{% static "fancypages/monster/src/css/monster.css" %}" type="text/css">
        <link rel="stylesheet" href="{% static "fancypages/monster/lib/css/ui-lightness/jquery-ui-1.8.20.custom.css" %}"
              type="text/css">
    {% endblock %}
{% endif %}
