{% extends "fancypages/layout_2_col.html" %}
{% load fancypages_tags %}
{% load staticfiles %}

{% block body_class %}fp-page{% endblock %}

{% block title %}
{{ page.title }} | {{ block.super }}
{% endblock %}

{% block column_left %}
{% fancypages-container left-column edit_mode %}
{% endblock %}

{% block header %}
    <h1>{{ page.title }}</h1>
{% endblock %}

{% block content %}
{% fancypages-container main-container %}
{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "fancypages/js/carousel-reset.js" %}"></script>
{% endblock %}
