{% extends "fancypages/layout.html" %}
{% load staticfiles %}
{% load fp_container_tags %}

{% block body_class %}fp-page{% endblock %}

{% block keywords %}
{{ page.keywords }}
{% endblock keywords %}

{% block title %}
{{ page.title }} | {{ block.super }}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    {% fancypages_container page-container %}
{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "fancypages/js/carousel-reset.js" %}"></script>
{% endblock %}
