{% load i18n %}
{% load staticfiles %}
{% load url from future %}
<div id="asset-input">
    <div class="thumbnail">
        <div class="image_container">
            {% if form.asset %}
                <img src="{{ form.asset.image.url }}"/>
            {% else %}
                <img src="{% static "fancypages/img/missing-img.png" %}" alt="Upload image" />
            {% endif %}
        </div>
    </div>

    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    {# Include the visible fields #}
    {% for field in form.visible_fields %}
        {{ field.errors }}
        {{ field.label_tag }}
        <div class="input-append">
            {{ field }}
            {% if field.name == 'link' %}
                <a data-behaviours="load-modal"
                   data-target="#fullscreen-modal .modal-body"
                   data-href="/api/v1/pages/select-form"
                   class="btn">
                    <i class="icon-link"></i>
                </a>
            {% endif %}
        </div>
    {% endfor %}
    <a data-behaviours="load-iframe-modal"
       data-target="#fullscreen-modal"
       data-iframe-id="asset-manager"
       data-iframe-src="{% url "fp-dashboard:image-list" %}"
       class="btn btn-large btn-danger btn-block">
        {% trans "Libary" %}
    </a>
</div>
