{% load i18n staticfiles %}
<div id="editor-panel" class="editor-hidden">
    {% include "fancypages/dashboard/partials/nav_editor.html" with page_url=page.get_absolute_url %}

    <div class="sidebar-content">
        <div id="page-settings">
            {% if form %}
            <h3><i class="icon-file"></i> <span>{% trans "Page Settings" %}</span></h3>
            <form method="post" action="." class="form-stacked">
                {% csrf_token %}
                {% include "oscar/partials/form_fields.html" %}
                <div class="form-actions fixed">
                    <div>
                        <a href="">{% trans "Cancel" %}</a>

                        <button type="submit" class="btn btn-primary pull-right">
                            {% trans "Save" %}
                        </button>
                    </div>
                </div>
            </form>
            {% else %}
                <p>{% trans "Click on a widget to see editable properties." %}</p>
            {% endif %}
        </div>
        <div id="widget_input_wrapper"></div>
    </div>
</div>
<div id='editor-handle'><i class="icon-large icon-magic"></i></div>
<div class="loading" data-behaviours="loading"></div>

{# include scripst that are only required in edit mode #}
{% include "fancypages/dashboard/partials/edit_mode_extracdnscripts.html" %}
{% include "fancypages/dashboard/partials/edit_mode_extrascripts.html" %}
<script>
    $(document).ready(function(){
        fancypages.dashboard.init();
    });
</script>
