<div class="wysihtml5-toolbar" >
    <ul>
        <li>
            <a class="toolbar-bold" data-wysihtml5-command="bold" title="CTRL+B" href="javascript:;" unselectable="on">
                <i class="icon-bold"></i>
            </a>
        </li>
        <li>
            <a class="toolbar-italic" data-wysihtml5-command="italic" title="CTRL+I" href="javascript:;" unselectable="on">
                <i class="icon-italic"></i>
            </a>
        </li>
        <li>
            <a class="toolbar-link" data-wysihtml5-command="createLink"
               title="Insert a link" href="javascript:;" unselectable="on">
                <i class="icon-link"></i>
            </a>
        </li>
        <li>
            <a class="toolbar-unordered" data-wysihtml5-command="insertUnorderedList"
                   href="javascript:;" unselectable="on">
                <i class="icon-list-ul"></i>
            </a>
        </li>
        <li>
            <a class="toolbar-ordered" data-wysihtml5-command="insertOrderedList"
               href="javascript:;" unselectable="on">
                <i class="icon-list-ol"></i>
            </a>
        </li>
        <li>
            <a class="toolbar-break" data-wysihtml5-command="insertLineBreak"
               href="javascript:;" unselectable="on">
                &lt;br/&gt;
            </a>
        </li>
        <li>
            <a class="toolbar-html" data-wysihtml5-action="change_view"
               href="javascript:;" unselectable="on">
                &lt;/&gt;
            </a>
        </li>
    </ul>
</div>
