{% load i18n %}

<div class="wysihtml5-toolbar" >
    <div class="btn-group">
        <a class="btn btn-small" data-wysihtml5-command="bold" title="CTRL+B" href="javascript:;" unselectable="on">
            <i class="icon-bold"></i>
        </a>
        <a class="btn btn-small" data-wysihtml5-command="italic" title="CTRL+I" href="javascript:;" unselectable="on">
            <i class="icon-italic"></i>
        </a>
        <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
            {% trans "H" %}<i class="icon-caret-down"></i>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a data-wysihtml5-command-value="h1" data-wysihtml5-command="formatBlock" href="javascript:;" unselectable="on">
                    H1
                </a>
            </li>
            <li>
                <a data-wysihtml5-command-value="h2" data-wysihtml5-command="formatBlock" href="javascript:;" unselectable="on">
                    H2
                </a>
            </li>
            <li>
                <a data-wysihtml5-command-value="h3" data-wysihtml5-command="formatBlock" href="javascript:;" unselectable="on">
                    H3
                </a>
            </li>
        </ul>
        <div data-wysihtml5-dialog="createLink" style="display: none;" class="modal fade in"
             id="createLinkModal" tab-index="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <h3 id="createLinkmodal">{% trans "Create link" %}</h3>
            </div>

            <div class="modal-body">
                <label>
                    Link: <input data-wysihtml5-dialog-field="href" value="http://">
                </label>
            </div>

            <div class="modal-footer">
                <a class="btn pull-left" data-wysihtml5-dialog-action="cancel">Cancel</a>
                <a class="btn btn-success pull-right" data-wysihtml5-dialog-action="save">OK</a>
            </div>
        </div>

        <a href="#createLinkModal" class="btn btn-small" title="Insert Link" data-wysihtml5-command="createLink" role="button" data-toggle="modal">
            <i class="icon-link"></i>
        </a>
        <a class="btn btn-small" data-wysihtml5-command="insertUnorderedList"
               href="javascript:;" unselectable="on">
            <i class="icon-list-ul"></i>
        </a>
        <a class="btn btn-small" data-wysihtml5-command="insertOrderedList"
           href="javascript:;" unselectable="on">
            <i class="icon-list-ol"></i>
        </a>
        <a class="btn btn-small" style="font-family: monospace;" data-wysihtml5-action="change_view"
           href="javascript:;" unselectable="on">
            html
        </a>
    </div>
</div>
