@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

//Utilities
.visible-editor {
  display:block;
}
//Widgets
.widget {
  position: relative;
  border:1px dashed transparent;
}
//Widgets Editing / Sortable
.edit-button {
  opacity: 0;
  margin: 5px;
}
.widget.editing,
.widget.widget-hover {
  border:1px dashed #ccc;
  > .widget-move-delete,
  > .edit-button {
    .opacity(100);
  }
}
.widget.editing {
  border-color:#000;
}
.ui-sortable-placeholder { 
  border: 1px dotted black; 
  visibility: visible !important; 
  height: 50px !important;
  background:#efefef; 
}
.ui-sortable-placeholder * { 
  visibility: hidden; 
}
.widget-move {
  .widget-hover {
    border-color:transparent;
    > .widget-move-delete,
    > .edit-button {
      .opacity(0);
    }
  }
  .widget, .sortable {
    border: 1px solid lightblue;
  }
  .sortable, .row-fluid [class*="span"] {
    min-height: 100px;
  }
}
.widget-move-delete {
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0;
}
.widget-add-control {
  position: relative;
  margin-top: 30px;
  .border-radius(4px);
  > .btn {
    padding-left:0;
    padding-right:0;
    display:block;
  }
  select {
    float: left;
    max-width: 70%;
  }
  button {
    margin-left: 5px;
  }
}
//No Assest default
.no-asset.edit-button {
  .opacity(100);
  margin:0;
}

//Widget Model Add Content Labels
.add-content .tabbable > ul > li > a {
  outline: none;
}
.add-content {
  .tab-content {
    ul {
      margin: 0;
      > li {
        display: block;
        float: left;
        margin: 0 2% 2%;
        width: 21%;
      }
    }
  }
}
.add-content {
  .nav-tabs {
    margin-bottom: 20px;
    > li > a {
      width: auto;
    }
  }
}
.add-content .image_container {
  background: @white;
  border: 1px solid #e6e6e6;
  min-height: 154px;
  margin-bottom: 10px;
  padding: 16px;
  line-height: 154px;
  width: auto;
  .border-radius(5px);
  img {
    width: 100%;
    vertical-align: middle;
  }
}

//Loading
.loading {
  background:url(/static/fancypages/img/loader.gif) 50% 50% #FAFAFA no-repeat;
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  display:none;
  z-index:1060;
}