{% for widget_id,rendered_widget in rendered_widgets %}
<div class="widget" data-container-name="{{ container_name }}" data-widget-id="{{ widget_id }}" style="border: 2px cyan solid;">
    {% if edit_mode %}<span class="edit-button">Edit</span>{% endif %}
    {{ rendered_widget }}
    {% if editk_mode %}
    <div class="ui-widget-header ui-helper-clearfix ui-corner-all" style="z-index: 9999; position: absolute; top: -2px; right: -2px; width: 32px; height: 16px; padding: 2px; display: none; ">
      <span class="move ui-corner-all">
        <span style="position: absolute; left: 1; top: 1;" class="ui-icon ui-icon-arrow-4">Move</span>
      </span>
      <span class="delete ui-corner-all">
        <span style="position: absolute; left: 17px; top: 1;" class="ui-icon ui-icon-trash">Remove</span>
      </span>
    </div>
    {% endif %}
</div>
{% endfor %}
