{% load fancypages_tags %}

<div class="sortable connectedSortable" data-container-id="{{ container.id }}">

{% for widget_id,rendered_widget in rendered_widgets %}
    <div id="widget-{{ widget_id }}" class="widget"
         data-container-name="{{ container_name }}" data-widget-id="{{ widget_id }}">
        {% if edit_mode %}<div class="edit-button btn"><i class="icon-edit icon-large"></i></div>{% endif %}
            {{ rendered_widget }}
        {% if edit_mode %}
        <div class="widget-move-delete btn-group">
            <div class="btn move"><i class="icon-move icon-large"></i></div>
            <div class="btn delete"><i class="icon-trash icon-large"></i></div>
        </div>
        {% endif %}
    </div>
{% endfor %}

</div>

{% if edit_mode %}
<div class="widget-add-control">
    <a data-toggle="modal" href="#{{ container.variable_name }}_modal"
       data-action="{% url fancypages-dashboard:widget-select container.id %}"
       data-behaviours="load-add-widget" class="btn btn-large"><i class="icon-plus"></i> Add content block</a>
</div>
{% endif %}
