{% extends "layout_2_col.html" %}
{% load compress %}

{% block navigation %}
    {{ block.super }}
    {% include "fancypages/partials/draft_note_block.html" %}
{% endblock %}

{% if edit_mode %}
    
    {% block extrahead %}
        {% compress css %}
        {{ block.super }}
        {% include "fancypages/dashboard/partials/edit_mode_extrahead.html" %}
        {% endcompress %}
    {% endblock %}

    {% block cdn_scripts%}
        {{ block.super }}
        {% include "fancypages/dashboard/partials/edit_mode_cdnscripts.html" %}
    {% endblock %}

    {% block extrascripts %}
        {% compress css %}
        {{ block.super }}
        {% include "fancypages/dashboard/partials/edit_mode_extrascripts.html" %}
        {% endcompress %}
    {% endblock %}

    {% block onbodyload %}
        {% include "fancypages/dashboard/partials/edit_mode_onbodyload.html" %}
    {% endblock %}
{% endif %}
