{% extends "layout.html" %}
{% load compress %}
{% load staticfiles %}

{% block navigation %}
    {{ block.super }}
    {% include "fancypages/partials/draft_note_block.html" %}
{% endblock %}

{% block extrastyles %}
    {{ block.super }}
    {% if edit_mode %}
        {% compress css %}
            {% include "fancypages/dashboard/partials/edit_mode_extrahead.html" %}
        {% endcompress %}
    {% endif %}
    {% compress css %}
        {% include 'fancypages/partials/extrastyles.html' %}
    {% endcompress %}
{% endblock %}

{% block cdn_scripts%}
    {{ block.super }}
    {% if edit_mode %}
        {% include "fancypages/dashboard/partials/edit_mode_cdnscripts.html" %}
    {% endif %}
{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    {% if edit_mode %}
        {% compress js %}
            {% include "fancypages/dashboard/partials/edit_mode_extrascripts.html" %}
        {% endcompress %}
    {% endif %}
    {% compress js %}
        {% include 'fancypages/partials/extrascripts.html' %}
    {% endcompress %}
{% endblock %}

{% block onbodyload %}
    {% if edit_mode %}
        {% include "fancypages/dashboard/partials/edit_mode_onbodyload.html" %}
    {% endif %}
{% endblock %}