@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

.edit-button {
    position: relative;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    width: 10px;
    padding: 2px 10px;
    margin-left: 2px;
    margin-right: 5px;
    line-height: 12px;
    display: block;
    background-color: #5BB75B;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    opacity: 0;
    .border-radius(8px);
    .box-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border: 2px #fff solid;
    cursor: pointer;
    span {
        display: none;
    }
}

body:hover .edit-button {
    opacity: 0.5;
}

body:hover .edit-button:hover {
    opacity: 1.0;
    width: 50px;
    span {
        display: inline;
    }
}

.sortable-placeholder {
    background-color: #5BB75B;
    opacity: 0.5;
}

.widget {
    position: relative;
}

.widget:hover {
    background-color: #ddd;
}

.widget-move-delete {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 16px;
    height: 16px;
    padding: 2px 3px 2px 2px !important;
    text-align: center;
    opacity: 0;
    z-index: 9999;
    background-color: orange;
    .border-radius(5px);
    .box-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    i {
        color: white;
    }
}

body:hover .widget-move-delete {
    opacity: 0.5;
}

body:hover .widget-move-delete:hover {
    opacity: 1.0;
}

.widget-add-control {
    position: relative;
    margin-top: 30px;

    padding-top: 8px;
    padding-left: 10px;

    width: 100%;

    background-color: orange;
    .border-radius(8px);
    .box-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));

    select {
        float: left;
        max-width: 70%;
    }
    button {
        margin-left: 5px;
        i {
            color: white;
        }
    }
}

