@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

@editorWidth: 325px;
@editorGutter: 20px;
@btnBorder: #454545;

// Page
html, body {
  margin: 0;
  padding: 0;
}
body.fancypages.edit-page {
  overflow:hidden;
}
.page-wrapper {
  position:relative;
  margin-top:78px;
}

// Editor
.editor {
  margin: 0px;
  height: 100%;
  position:absolute;
  top:0;
  left:-@editorGutter;
  bottom:0;
  width:@editorWidth;
  .box-shadow(inset -3px -7px 10px rgba(0,0,0,.1));
}
.sidebar-content {
  width:@editorWidth - 2;
}
.sidebar-content,
.slide-pane {
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  &:focus {
  	outline:none;
  }
  .jspDrag {
    background: #999;
    .border-radius(5px)
  }
  .jspVerticalBar {
    width:6px;
  }
  .jspTrack,
  .jspHorizontalBar {
/*    padding:0 2px;*/
    background: #333;
  }
}
.editing-area,
#page-settings {
  > h3, 
  > form .widget-settings > div > label,
  > form .control-group > label,
  > form .control-group > .controls > label {
    color:#fff;
  }
  > h3 {
    border-bottom:1px solid @grayLight;
    margin-bottom:@baseLineHeight;
    span {
      font-size:18px;
    }
  }
}
#page-settings,
#widget_input_wrapper {
  padding:@editorGutter;
}
.form-actions.fixed {
  position: fixed;
  border-top-color:@gray;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: @editorWidth;
  background:#2B2B2B;
  z-index:10;
  height:60px;
  a {
    color:@grayLight;
  }
  > div {
    padding:@editorGutter - 5 @editorGutter 0;
  }
}
.nav-wysiwyg {
  .nav > li > a {
    padding: 5px 5px 3px;
    text-transform:uppercase;
    color: #ccc;
    &:hover,
    &:focus {
      text-decoration: none;
      background-color: #222;
      -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
      -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
      box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    }
  }
  .navbar .nav > li {
    line-height:15px;
  }
  .navbar-inner {
    min-height: 15px;
    padding-left: 5px;
    padding-right: 5px;
    #gradient > .vertical(lighten(#222, 10%), lighten(#111, 10%));
  }
  .icon-text {
    width:auto;
  }
  
}
.editor {
  background:#333;
  border-color:#000;
  input[type=text],
  textarea,
  select {
    .box-sizing(border-box);
    width:100%;
    font-size:12px;
    min-height: 35px;
  }
}
.button-nav {
  border-bottom:2px solid @grayDarker;
  .clearfix();
  button, a {
    color:#fff;
    font-size:12px;
    padding:0;
    border:0;
    width:50%;
    float:left;
    display:block;
    .border-radius(3px);
    .box-shadow(inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05));
    .gradientBar(#333, #222);
    text-shadow: 2px 2px 3px rgba(0,0,0,0.7);
    text-align:center;
    &:hover {
      .gradientBar(#444, #333);
      text-decoration:none;
    }
    &:active {
      .gradientBar(#222, #333);
    }
    > span {
      border: 1px solid @btnBorder;
      border-left-width: 0;
      display:block;
      padding:10px 0;
      line-height:35px;
      > span {
        vertical-align:middle;
      }
    }
  }
  i {
    font-size: 35px;
    vertical-align:middle;
    margin-right:5px;
  }
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 1);
}
.wysihtml5-wrapper {
  overflow: auto;
  overflow-x:hidden;
}
.wysihtml5-wrapper textarea {
  height:250px;
  overflow-x:hidden;
}

.wysihtml5-toolbar {
  .btn-group {
    margin-bottom:10px;
  }
}

#messages {
  position: absolute;
  top: 80px;
  width: 97%;
  z-index: 1000;
}
#asset-input {
  .thumbnail {
    background:#333;
    margin-bottom:@baseLineHeight;
    border-color:lighten(@gray,7%);
  }
}
// Page Title
.preview,
.page-title {
  margin: 0px;
  margin-left:@editorWidth - @editorGutter;
  margin-right:-@editorGutter;
}
.page-title {
  border-bottom:1px solid #ccc;
  padding:10px @editorGutter;
  text-align:center;
  .clearfix();
  h3 {
    margin:0;
  }
}
// IFrame
.preview {
  position:relative;
  #page-preview {
    position: relative;
    width: 100%;
  }
}
//Modals
.modal {
  > form {
    margin:0;
  }
  .modal-header {
    > button {
      border:0;
      padding:0;
    }
  }
}
//Assest Manager
#asset-modal {
  background:#222;
  overflow:hidden;
  .close {
    .opacity(100);
    color:#fff;
    margin-right:10px;
    margin-top:5px;
  }
  .modal-body {
    overflow:hidden;
  }
}
#asset-modal-label {
  color:#fff;
  border-bottom:1px solid @grayLight;
  margin-bottom:@baseLineHeight;
  span {
    font-size:18px;
  }
}
.assets {
  background:transparent;
}
.asset-fluid {
  margin: 0;
  padding:0;
  max-width: none;
  .page_inner {
    padding:0;
  }
}
.thumbnails {
  .thumbnail {
    height:180px;
    background:#fff;
    &:hover {
      border-color: #08C;
      -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
      -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
      box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
      cursor:pointer;
    }
  }
  [class*="span"],
  [class*="span"]:first-child {
    margin-left:2.564102564102564% / 2.5;
    margin-right:2.564102564102564% / 2.5;
  }
  text-align: center;
  .caption {
    h6 {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      margin:0;
    }
  }
}
.image_container {
  background:#fff;
  min-height:130px;
  line-height:130px;
  margin-bottom: 0;
  text-align:center;
  img {
    max-height:130px;
    width:auto;
  }
}
//Loading
.loading {
  background:url(../img/loader.gif) 50% 50% #FAFAFA no-repeat;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  display:none;
}


