@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

// Page
html, body {
  margin: 0;
  padding: 0;
}
body.fancypages.edit-page {
  overflow:hidden;
}
.page-wrapper {
  position:relative;
  margin-top:78px;
}

// Editor
.editor {
  margin: 0px;
  height: 100%;
  position:absolute;
  border-right:1px solid #ccc;
  top:0;
  left:-20px;
  bottom:0;
  width:329px;
  .box-shadow(inset -3px -7px 10px rgba(0,0,0,.1));
}
#page-settings,
#widget_input_wrapper {
  padding:20px;
}
.editor,
.page-title {
  background:lighten(@grayLighter, 4%);
  border-color:lighten(@grayLight, 20%);
}
.wysihtml5-wrapper {
  overflow: auto;
}
.wysihtml5-wrapper textarea {
  width:270px;
  height:300px;
}

.wysihtml5-toolbar {
  position: relative;
  width: 98%;
  height: 40px;
  font-size: 24px;
  overflow: auto;
}

#messages {
  position: absolute;
  top: 80px;
  width: 97%;
  z-index: 1000;
}
// Page Title
.preview,
.page-title {
  margin: 0px;
  margin-left:310px;
  margin-right:-20px;
}
.page-title {
  border-bottom:1px solid #ccc;
  padding:20px;
  .clearfix();
  h1 {
    margin:0;
  }
}
// IFrame
.preview {
  #page-preview {
    position: relative;
    width: 100%;
  }
}
//Modals
.modal {
  > form {
    margin:0;
  }
  .modal-header {
    > button {
      border:0;
      padding:0;
    } 
  }
}
